<!-- CONTENT PAGE rooms -->
<div class="w3-container">

    <div class="w3-row-padding w3-center w3-center w3-card-12">
        <div class="w3-col w3-container m4 l3  ">
            <!--Foto habitacion-->
            <div class="w3-card-12   " style="width:100%">
                <img src="images/habitacionDoble.jpg" alt="Norway" style="width:100%">
            </div>
        </div>
        <!--Descripcion habitacion-->
        <div class="w3-twothird w3-container ">
            <h4>HABITACIÓN DOBLE O TWIN (2 CAMAS)</h4>
            <p>En nuestras habitaciones standard disfrutará de todo el equipamiento y comodidades que su estancia en Granada merece.</p>
            <table class="w3-table w3-striped w3-bordered">
                <tr>
                    <th>Camas</th>
                    <th>Precio</th>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Desde 59</td>
                </tr>

            </table>
            <p><button class="w3-btn w3-light-green">Reservar</button></p>
        </div>
    </div>


    <div class="w3-row-padding  w3-center w3-card-12 ">
        <div class="w3-col w3-container m4 l3 ">
            <!--Foto habitacion-->
            <div class="w3-card-12 " style="width:100%">
                <img src="images/habitacionSuite.jpg" alt="Norway" style="width:100%">
            </div>
        </div>
        <!--Descripcion habitacion-->
        <div class="w3-twothird w3-container ">
            <h4>DOBLE SUPERIOR</h4>
            <p>Disfrute de una magnifica vista de Plaza Nueva y el centro de Granada desde nuestras habitaciones superiores.</p>
            <table class="w3-table w3-striped w3-bordered">
                <tr>
                    <th>Camas</th>
                    <th>Precio</th>
                </tr>
                <tr>
                    <td>2</td>
                    <td>desde 79</td>
                </tr>

            </table>
            <p><button class="w3-btn w3-light-green">Reservar</button></p>
        </div>
    </div>


    <div class="w3-row-padding w3-center w3-card-12">
        <div class="w3-col w3-container m4 l3">
            <!--Foto habitacion-->
            <div class="w3-card-12 w3-hover-shadow" style="width:100%">
                <img src="images/habitacionTriple.jpg" alt="Norway" style="width:100%">
            </div>
        </div>
        <!--Descripcion habitacion-->
        <div class="w3-twothird w3-container ">
            <h2>Triple Superior</h2>
            <p>En nuestras habitaciones triples podrá disfrutar de sus vacaciones en familia o con amigos en el centro de Granada.</p>
            <table class="w3-table w3-striped w3-bordered">
                <tr>
                    <th>Camas</th>
                    <th>Precio</th>
                </tr>
                <tr>
                    <td>3</td>
                    <td>desde 89</td>
                </tr>

            </table>
            <p><button class="w3-btn w3-light-green">Reservar</button></p>
        </div>
    </div>
</div>