
<div class="w3-col s12 m12 l8 w3-padding-medium">
    <!-------------------------Contenido central-------------------------------->
    <div class="w3-col s12 m12 l12">
        <!--3/12 Slider-->
        <!--La clase slideAuto la ha de tener el elemento que va a ser intercambiado
            La clase w3-animate-top es una animacion que hace entrar la imagen por arriba-->
        <div class="w3-content w3-display-container" >
            <img class="slideAuto  w3-round" src="images/fachada.jpg" alt="Fachada" style="width:100% ;display:block" >
            <img class="slideAuto  w3-round" src="images/habitacionDoble.jpg" alt="Doble" style="width:100%">
            <img class="slideAuto  w3-round" src="images/habitacionDoble2.jpg" alt="Doble" style="width:100%">
            <img class="slideAuto  w3-round" src="images/habitacionDoble3.jpg" alt="Doble" style="width:100%">
            <img class="slideAuto  w3-round" src="images/habitacionMarimonio2.jpg" alt="Habitacion matrimonio" style="width:100%">
            <img class="slideAuto  w3-round" src="images/habitacionMatrimonio.jpg" alt="Habitacion matrimonio" style="width:100%">
            <img class="slideAuto  w3-round" src="images/habitacionSuite.jpg" alt="Suite" style="width:100%">
            <img class="slideAuto  w3-round" src="images/habitacionTriple.jpg" alt="Habitacion triple" style="width:100%">
            <div class="w3-center w3-section w3-large w3-text-white w3-display-bottomleft" style="width:100%">
                <div class="w3-left w3-padding-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
                <div class="w3-right w3-padding-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
                <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
                <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
                <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
                <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(4)"></span>
                <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(5)"></span>
                <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(6)"></span>
                <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(7)"></span>
                <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(8)"></span>
            </div>
        </div>

        <!-- Descripcion hotel-->
        <div class="w3-row w3-justify">

                El Hotel Plaza Nueva está situado en el pleno centro monumental, comercial y administrativo de Granada, a 10 minutos de la Alhambra.
                El hotel ofrece una amplia y eficiente gama de servicios extra que satisfarán cualquier necesidad que le surja, reservas a shows de
                flamenco o visitas turísticas por la ciudad y la Alhambra. El hotel le ofrece 25 amplias y luminosas habitaciones repartidas sobre 3
                plantas con ascensor. Cada planta del hotel y cada habitación poseen un nombre y encanto propio. Este nombre es una representación
                de un evento importante en la vida e historia de Granada. No tienen tarjetas magnéticas para abrir las puertas de las habitaciones,
                preferimos la originalidad que proporciona una tradicional llave. El hotel ofrece el servicio de desayuno continental en la cafetería,
                donde podrá disfrutar de conexión WIFI. Asimismo podrá obtener mediante pago del servicio conexión WIFI en su habitación. Confiamos
                en que disfrute plenamente su estancia entre nosotros así como de nuestra bella ciudad. Número de registro del hotel en la consejería
                de turismo de Andalucía: H/GR/01181

        </div>

        <!--Apartado de los cards -->
        <div class="w3-section">
            <!--1/3 Situación-->
            <div class="w3-col s12 m12 l4 w3-padding w3-center w3-navbar">
                <a href="mapa.html">
                    <div class="w3-card-12 w3-hover-shadow" style="width:100%">
                        <header class="w3-container w3-light-grey">
                            <h4>Situación</h4>
                        </header>
                        <img src="images/alhambra.jpg" alt="alhambra" style="width:100%">
                        <div class="w3-container w3-justify">
                            <p>El Hotel Plaza Nueva está situado en el pleno centro monumental, comercial y administrativo de Granada, a 10 minutos de la Alhambra.</p>
                        </div>
                    </div>
                </a>
            </div>

            <!--1/3 Habitaciones-->
            <div class="w3-col s12 m12 l4 w3-padding w3-center w3-navbar">
                <a href="habitaciones.html">
                    <div class="w3-card-12 w3-hover-shadow" style="width:100%">
                        <header class="w3-container w3-light-grey">
                            <h4>Habitaciones</h4>
                        </header>
                        <img src="images/habitacionDoble3.jpg" alt="habitacionesdobles" style="width:100%">

                        <div class="w3-container w3-justify">
                            <p>Nuestras habitaciones con vistas a Plaza Nueva y a la Torre de la Vela. Disfrute de esta experiencia por un pequeño suplemento.</p>
                        </div>
                    </div>
                </a>
            </div>
            <!--1/3 Commodities-->
            <div class="w3-col s12 m12 l4 w3-padding w3-center w3-navbar">
                <a href="promociones.html">
                    <div class="w3-card-12 w3-hover-shadow" style="width:100%;">
                        <header class="w3-container w3-light-grey">
                            <h4>Commodities</h4>
                        </header>
                        <img src="images/sierranevada.jpg" alt="Norway" style="width:100%">

                        <div class="w3-container w3-justify">
                            <h5>Visita Sierra Nevada</h5>
                            <p>Excursiones de esquí con monitores especializados</p>

                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-------------------------Contenido central-------------------------------->
 </div>

   
<script>carousel();</script>
