<!--Titulo y menu-->

<div class="">

</div>

<!-- menu nuevo-->

<nav class="w3-sidenav w3-white w3-card-2" style="display:none">
  <a href="javascript:void(0)" onclick="w3_close()" 
  class="w3-closenav w3-large">Close &times;</a>
  <a href="index.php">Hotel</a>		
  <a href="index.php?option=1">Promociones</a>		
  <a href="index.php?option=2">Reservas</a>
  <div class="w3-dropdown-hover">
    <a href="index.php?option=3&room=0">Habitaciones <i class="fa fa-caret-down"></i></a>
    <div class="w3-dropdown-content w3-white w3-card-4">
        <a href="index.php?option=3&subOption=1">Habitación individual</a>
        <a href="index.php?option=3&subOption=2">Habitación doble</a>
        <a href="index.php?option=3&subOption=3">Suite familiar</a>
    </div>
  </div>
  
  <a href="index.php?option=4">Servicios</a>
  <a href="index.php?option=5&subOption=1">Ubicación</a>
  <a href="index.php?option=5&subOption=2">Contacto</a>
</nav>

<header class="w3-container w3-theme">
  <span class="w3-opennav w3-xlarge" onclick="w3_open()">&#9776; 
      Hotel Plaza Nueva
  </span>
   
   
</header>

<script>
function w3_open() {
    document.getElementsByClassName("w3-sidenav")[0].style.display = "block";
}
function w3_close() {
    document.getElementsByClassName("w3-sidenav")[0].style.display = "none";
}
</script>