<!-- CONTENT PAGE rooms -->
<div class="w3-row">
    <div class="w3-col s12 m12 l8">
        <!------------------------- Contenido central -------------------------------->
        
        <div class="w3-margin-8 w3-center w3-card-12">
            <div class="w3-col s12 m4 l4 w3-img">
                <!--Foto habitacion-->
                <img src="images/habitacionIndividual.jpg" alt="Norway">
            </div>
            <!--Descripcion habitacion-->
            <div class="w3-col s12 m8 l8 w3-padding ">
                <h4>HABITACIÓN DOBLE O TWIN (2 CAMAS)</h4>
                <p>En nuestras habitaciones standard disfrutará de todo el equipamiento y comodidades que su estancia en Granada merece.</p>
            </div>
            
            <div class="w3-col s12 m12 l12  ">
                <table class="w3-table w3-striped w3-bordered">
                    <tr>
                        <th>Camas</th>
                        <th>Precio</th>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Desde 59</td>
                    </tr>
                </table>
                <p><button class="w3-btn w3-light-green">Reservar</button></p>
            </div>
        </div>

        <div class="w3-col w3-margin-8 w3-center w3-card-12">
            <div class="w3-row ">
                <div class="w3-col  s12 m4 l4  ">
                    <!--Foto habitacion-->
                    <img src="images/habitacionDoble.jpg" alt="Norway">
                </div>
                <!--Descripcion habitacion-->
                <div class="w3-col  s12 m8 l8 w3-padding ">
                    <h4>DOBLE SUPERIOR</h4>
                    <p>Disfrute de una magnifica vista de Plaza Nueva y el centro de Granada desde nuestras habitaciones superiores.</p>
                </div>
            </div>
            <div class="w3-row w3-col s12 m12 l12  ">
                <table class="w3-table w3-striped w3-bordered">
                    <tr>
                        <th>Camas</th>
                        <th>Precio</th>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>desde 79</td>
                    </tr>
                </table>
                <p><button class="w3-btn w3-light-green">Reservar</button></p>
            </div>
        </div>

        <div class="w3-col w3-margin-8 w3-center w3-card-12">
            <div class="w3-row ">
                <div class="w3-col s12 m4 l4  ">
                    <!--Foto habitacion-->
                    <img src="images/habitacionDoble.jpg" alt="Norway">
                </div>
                <!--Descripcion habitacion-->
                <div class="w3-col  s12 m8 l8  w3-padding">
                    <h4>Triple Superior</h4>
                    <p>En nuestras habitaciones triples podrá disfrutar de sus vacaciones en familia o con amigos en el centro de Granada.</p>
                </div>
            </div>
            <div class="w3-row w3-col s12 m12 l12  ">
                <table class="w3-table w3-striped w3-bordered">
                    <tr>
                        <th>Camas</th>
                        <th>Precio</th>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>desde 89</td>
                    </tr>
                </table>
                <p><button class="w3-btn w3-light-green">Reservar</button></p>
            </div>
        </div>
    </div>

    <!-------------------------Contenido central-------------------------------->
</div>