<!-- CONTENT PAGE rooms -->
<div class="w3-col s12 m12 l8">

    <!------------------------- Contenido central -------------------------------->
    <div class="w3-row w3-margin-24">
        <div class="w3-col s6 m6 l6">
            <!--Foto habitacion-->
            <img class="w3-image" src="images/habitacionIndividual.jpg" alt="Individual">
        </div>
        <!--Descripcion habitacion-->
        <div class="w3-col s6 m6 l6 w3-padding w3-justify">
            <h4>HABITACIÓN DOBLE O TWIN (2 CAMAS)</h4>
            <p>En nuestras habitaciones standard disfrutará de todo el equipamiento y comodidades que su estancia en Granada merece.</p>
        </div>
        <div class="w3-row w3-col s12 m12 12">
            <table class="w3-table w3-striped w3-bordered">
                <tr>
                    <th>Camas</th>
                    <th>Precio</th>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Desde 49€</td>
                </tr>
            </table>
            <p><button class="w3-btn w3-theme-l2 w3-input w3-margin-top">Reservar</button></p>
        </div>
    </div>
    
    <div class="w3-row w3-margin-24">
        <div class="w3-col s6 m6 l6">
            <!--Foto habitacion-->
            <img class="w3-image" src="images/habitacionDoble.jpg" alt="Doble">
        </div>
        <!--Descripcion habitacion-->
        <div class="w3-col s6 m6 l6 w3-padding w3-justify">
            <h4>HABITACIÓN DOBLE O TWIN (2 CAMAS)</h4>
            <p>Disfrute de una magnifica vista de Plaza Nueva y el centro de Granada desde nuestras habitaciones superiores.</p>
        </div>
        <div class="w3-row w3-col s12 m12 12">
            <table class="w3-table w3-striped w3-bordered">
                <tr>
                    <th>Camas</th>
                    <th>Precio</th>
                </tr>
                <tr>
                    <td>2</td>
                    <td>desde 69€</td>
                </tr>
            </table>
            <p><button class="w3-btn w3-theme-l2 w3-input w3-margin-top">Reservar</button></p>
        </div>
    </div>
    
    <div class="w3-row w3-margin-24">
        <div class="w3-col s6 m6 l6">
            <!--Foto habitacion-->
            <img class="w3-image" src="images/habitacionMatrimonio.jpg" alt="Suite">
        </div>
        <!--Descripcion habitacion-->
        <div class="w3-col s6 m6 l6 w3-padding w3-justify">
            <h4>SUITE MATRIMONIO</h4>
            <p>En nuestras habitaciones suites podrá disfrutar de sus vacaciones en familia o con amigos en el centro de Granada.</p>
        </div>
        <div class="w3-row w3-col s12 m12 12">
            <table class="w3-table w3-striped w3-bordered">
                <tr>
                    <th>Camas</th>
                    <th>Precio</th>
                </tr>
                <tr>
                    <td>3</td>
                    <td>desde 79€</td>
                </tr>
            </table>
            <p><button class="w3-btn w3-theme-l2 w3-input w3-margin-top">Reservar</button></p>
        </div>
    </div>
    
</div>