<!-- CONTENT PAGE room suboption -->
<div class="w3-row-padding w3-card-12">
    <!--Foto habitacion-->
    <div class="w3-col s12 m6 l6 w3-container w3-card-12 w3-hover-shadow w3-image">
        <img src="{photo}" alt="Habitacion triple">
    </div>
    <!--Descripcion habitacion-->
    <div class="w3-col s12 m6 l6 w3-container ">
        <h2>{name}</h2>
        <p>{desc}</p>
        <table class="w3-table w3-striped w3-bordered">
            <tr>
                <th>Camas</th>
                <th>Precio</th>
            </tr>
            <tr>
                <td>{beds}</td>
                <td>{price}€</td>
            </tr>
        </table>
        <button class="w3-btn w3-light-green w3-input w3-margin-top">Reservar</button>
    </div>
</div>