<!-- CONTENT PAGE services -->
<div class="w3-row-padding w3-center w3-center w3-card-12">

    <div class="w3-row w3-container">

        <h2>Servicios</h2>
        <p>Estos son los servicios de los que disfrutará durante su estancia en el Hotel Plaza Nueva, entre los que destacamos el servicio de cuna gratuito (según disponibilidad) y servicio de reserva de entradas para la Alhambra y para espectáculos de flamenco.</p>

        <div class="w3-row w3-section">

            <div class="w3-col s12 m6 l3 w3-center">
                <div class="w3-half  w3-center">
                    <img src="images/iconos_servicios/food.png" alt="Bar-Cafetería">
                    <p>Bar-Cafetería</p>
                </div>

                <div class="w3-half w3-center">
                    <img src="images/iconos_servicios/minusvalidos.png" alt="Acceso minusválidos">
                    <p>Accesos adaptados</p>
                </div>
            </div>

            <div class="w3-col s12 m6 l3 w3-center">
                <div class="w3-half w3-center">
                    <img src="images/iconos_servicios/people.png" alt="Equipaje">
                    <p>Consigna de equipajes</p>
                </div>

                <div class="w3-half w3-center">
                    <img src="images/iconos_servicios/habitaciones.png" alt="Servicio habitaciones">
                    <p> Servicio de habitaciones</p>
                </div>
            </div>

            <div class="w3-col s12 m6 l3 w3-center">
                <div class="w3-half w3-center">
                    <img src="images/iconos_servicios/recepcion.png" alt="Recepción">
                    <p>Recepción 24H</p>
                </div>

                <div class="w3-half w3-center">
                    <img src="images/iconos_servicios/sign.png" alt="Parking">
                    <p>Parking cubierto</p>
                </div>
            </div>

            <div class="w3-col s12 m6 l3 w3-center">
                <div class="w3-half  w3-center">
                    <img src="images/iconos_servicios/wifi.png" alt="Wi-Fi">
                    <p>Conexión Wi-Fi</p>
                </div>

                <div class="w3-half w3-center">
                    <img src="images/iconos_servicios/hot.png" alt="Calefacción aire acondicionado">
                    <p>Calefacción y aire acondicionado</p>
                </div>
            </div>

        </div>

    </div>

</div>