 <!---------------------------------sidebar-------------------------------->
   
<!----------------------------slider de ofertas------------------------------------>


<div class="w3-col s12 m12 l4 w3-padding-medium w3-center w3-card-8">
    
    <div class="w3-left-align w3-padding-medium">
        <div id="menu0" class="menu w3-padding-medium w3-theme-d1">
            
            <a href="index.php">Hotel</a>
        </div>
        <div id="menu1" class="menu w3-padding-medium">
            
            <a href="index.php?option=1">Promociones</a>
        </div>
        <div id="menu2" class="menu w3-padding-medium">
            
            <a href="index.php?option=2">Reservas</a>
        </div>
        <div id="menu3" class="menu w3-padding-medium">
            
            <a href="index.php?option=3&room=0">Habitaciones</a>
        </div>
        <div id="menu4" class="menu w3-padding-medium">
            
            <a href="index.php?option=4">Servicios</a>
        </div>
        <div id="menu5" class="menu w3-padding-medium">
            
            <a href="index.php?option=5&subOption=1">Ubicación</a>
        </div>
        <div id="menu5" class="menu w3-padding-medium">
            
            <a href="index.php?option=5&subOption=2">Contacto</a>
        </div>
    </div>
 <!--
 
     <div class="w3-justify w3-padding-medium w3-large">
         <h2 class="w3-container w3-light-grey">Ofertas</h2>
         <p>Disfrute de las promociones exclusivas de nuestra web. Reservando aquí podrá conseguir rebajas y descuentos inigualables.</p>
     </div>
-->

     <div class="w3-col s12 m12 l12 w3-center w3-padding w3-content w3-section">
         
         <!--Los siguientes div estan en display:none la funcion js los activara uno por uno para hacer el slide-->
         <div class="slideBarside  w3-padding" style="width:100% ;display:block">
             <div class=" w3-hover-shadow">
                 <header class="w3-container w3-light-grey">
                     <h4>Oferta dos noches</h4>
                 </header>
                 <img src="images/fachada.jpg" alt="Fachada" class="w3-fluid">
                 <div class="w3-container w3-justify">
                     <p>Disfrute de un 10% de descuento en estancias de un mínimo de dos noches</p>
                 </div>
             </div>
         </div>

         <div class="slideBarside  w3-padding w3-tooltip" style="width:100%">
             <div class="w3-hover-shadow">
                 <header class="w3-container w3-light-grey">
                     <h4>Oferta 10% de descuento</h4>
                 </header>
                 <img src="images/EntradorHotel.jpg" alt="Entrada hotel" class="w3-fluid">
                 <div class="w3-container w3-justify">
                     <p>Disfrute de un 10% de descuento con esta tarifa no reembolsable</p>
                 </div>
             </div>
         </div>

         <div class="slideBarside  w3-padding w3-tooltip" style="width:100%">
             <div class="w3-hover-shadow">
                 <header class="w3-container w3-light-grey">
                     <h4>Oferta reserva anticipada</h4>
                 </header>
                 <img src="images/habitacionMarimonio2.jpg" alt="Habitacion matrimonio" class="w3-fluid">
                 <div class="w3-container w3-justify">
                     <p>Disfrute de un 10% de descuento reservando con 21 días de antelación</p>
                 </div>
             </div>
         </div>
         
     </div>

     <!----------------------------slider de ofertas------------------------------------>

     <!----------------------------Información de contacto----------------->
     <div class="w3-col s12 m12 l12 w3-padding-medium w3-center ">
         <div class="w3-justify w3-padding-medium w3-large">
             <div class="w3-container w3-theme-l3">Información de contacto</div>
             <div class="w3-col s11 m10 l10 w3-justify w3-medium">
             <p>Hotel Plaza Nueva - Email:info@hotel-plazanueva.com</p>
             <p>Calle Imprenta, nº 2. 18010 Granada, Granada, España</p>
             <p>Teléfono: +34 958 215 273 - Fax: +34 958 225 765</p>
         </div>
         <div class="w3-col s1 m2 l2 w3-padding-medium w3-center">
             <a href="#" class="normaltip" title="Linkedin"><img src="images/iconos_servicios/icon1.jpg" alt=""></a>
             <a href="#" class="normaltip" title="Facebook"><img src="images/iconos_servicios/icon2.jpg" alt=""></a>
             <a href="#" class="normaltip" title="Picasa"><img src="images/iconos_servicios/icon3.jpg" alt=""></a>
             <a href="#" class="normaltip" title="Twitter"><img src="images/iconos_servicios/icon4.jpg" alt=""></a>
         </div>
         </div>
     </div>
 </div>



<script>
    changeContextMenu({option});
    funSlideBar();
</script>