<!DOCTYPE html>

<html lang="es" charset="utf-8" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8" />
    <title>Hotel Plaza Nueva</title>
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- FONT -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css" />

    <!-- CSS -->
    <link rel="stylesheet" href="css/w3.css" />

    <!-- JAVASCRIPT -->
    <script src="js/functionSlider.js"></script>
</head>
<body>
    {menu}
    <div class="w3-container w3-section">
        {content}
        {sidebar}
    </div>
    {footer}
</body>
</html>